<template>
  <div class="home-main-container chat">
    <div class="chat-content">
      <p class="chat-online">
        Онлайн в таверне - <span>{{ murrensOnline }}</span>
      </p>
      <ul class="chat-received" ref="receiveBlock">
        <observer
          @murrIntersect="fetchPreviousMessages"
          :key="'messagesObserver' + messages.length"
          v-if="messages.length"
        />
        <loader v-if="isLoading" />
        <template v-for="m in messages">
          <murr-chat-message :key="m.id" :message="m"> </murr-chat-message>
        </template>
      </ul>
    </div>
    <div class="chat-new_message">
      <resizable-textarea>
        <textarea
          class="chat-new_message__textarea"
          placeholder="Напиши сообщение..."
          v-model="text"
          maxlength="224"
          rows="1"
          @keydown.enter="
            ($event) => {
              if (!$event.shiftKey) sendChatMessage($event);
            }
          "
        ></textarea>
      </resizable-textarea>
      <el-button
        class="chat-new_message__button"
        icon="el-icon-s-promotion"
        @click="sendChatMessage"
      ></el-button>
    </div>
  </div>
</template>

<script>
import ResizableTextarea from "../common/ResizableTextarea.js";
import MurrChatMessage from "./MurrChatMessage.vue";
import sanitizeHtml from "sanitize-html";
import Observer from "../common/Observer.vue";
import * as type from "./store/type.js";
import { websocket_base_url, tavernSocketUrl } from "../../devAndProdVariables";

import "./scss/style.scss";

export default {
  name: "murr-chat",
  data() {
    return {
      text: "",
      lastMessage: true,
      isLoading: true,
    };
  },
  created() {
    this.socketInit();
  },
  beforeDestroy() {
    this.$store.commit(type.CHAT_CLEAR);
  },
  computed: {
    messages() {
      return this.$store.getters.chatMessages;
    },
    murrensOnline() {
      return this.$store.getters.murrensOnline.length;
    },
  },
  methods: {
    socketListener(event) {
      let socketMessage = JSON.parse(event.data);
      let actionType = null;
      let data = socketMessage.data;
      let gan = socketMessage.gan;
      let scrollHeight = null;
      let receiveBlock = this.$refs.receiveBlock;

      if (gan === "list_messages") {
        if (data.offset === 0) {
          actionType = type.CHAT_MESSAGES_SET;
        } else {
          actionType = type.CHAT_MESSAGES_PREPEND;
          scrollHeight =
            receiveBlock.lastChild.clientHeight * data.messages.length;
        }
        this.lastMessage = data.last_message;
        data = data.messages;
      } else if (gan === "disconnect") {
        actionType = type.CHAT_MURREN_REMOVE_ONLINE;
      } else if (gan === "send_message") {
        actionType = type.CHAT_MESSAGE_APPEND;
      } else if (gan === "join_to_murr_chat") {
        let newMurrens = [];
        data.murrens_in_ws_data.map((murren) => {
          let murrenAlreadyOnline = this.$store.getters.murrensOnline.find(
            (m) => m.name === murren.murren_name
          );
          if (!murrenAlreadyOnline)
            newMurrens.push({
              name: murren.murren_name,
              color: this.randColor(),
            });
        });
        data = newMurrens;
        actionType = type.CHAT_MURRENS_APPEND_ONLINE;
      } else {
        // eslint-disable-next-line no-console
        console.log(`Неизвестное действие(gan - "${gan}")`);
      }

      if (actionType) this.$store.commit(actionType, data);

      this.$nextTick(() => {
        receiveBlock.scrollTop = scrollHeight
          ? scrollHeight
          : receiveBlock.scrollHeight;
        this.isLoading = false;
      });
    },

    socketError(error) {
      // eslint-disable-next-line no-console
      console.log("Ошибка " + error.message);
    },

    socketOpen() {
      this.fetchMessages();
    },

    fetchPreviousMessages() {
      if (this.lastMessage) return;

      this.isLoading = true;
      this.fetchMessages(this.messages.length);
    },

    socketClose(event) {
      if (event.wasClean) {
        // eslint-disable-next-line no-console
        console.log("Соединение закрыто чисто");
      } else {
        // eslint-disable-next-line no-console
        console.log("Обрыв соединения");
      }
      // eslint-disable-next-line no-console
      console.log("Код: " + event.code + " причина: " + event.reason);
    },

    socketInit() {
      let token = this.$store.getters.accessToken_getters;
      let endpoint = websocket_base_url + tavernSocketUrl + "?token=";
      this.socket = new WebSocket(endpoint + token);

      this.socket.onopen = this.socketOpen;
      this.socket.onclose = this.socketClose;
      this.socket.onmessage = this.socketListener;
      this.socket.onerror = this.socketError;
    },

    fetchMessages(offset) {
      let data = {
        offset: offset ? offset : 0,
      };
      this.socket.send(
        JSON.stringify({
          data: data,
          gan: "list_messages",
        })
      );
    },

    sendChatMessage(e) {
      e.preventDefault();
      let text = sanitizeHtml(this.text, {
        allowedTags: [],
      });
      text = text.trim();
      if (text.length !== 0) {
        e.stopPropagation();
        let messageLines = text.split("\n");
        let message = "";
        for (let i = 0; i < messageLines.length; i++) {
          let line = messageLines[i].length !== 0 ? messageLines[i] : "<br/>";
          message += `<p>${line}</p>`;
        }
        message = sanitizeHtml(message, {
          allowedTags: ["p", "br"],
        });
        this.socket.send(
          JSON.stringify({
            data: { message: message },
            gan: "send_message",
          })
        );
        this.text = "";
        e.target.removeAttribute("style");
      }
    },

    randColor() {
      let letters = "0123456789ABCDEF";
      let color = "#";
      for (let i = 0; i < 6; i++) {
        color += letters[Math.floor(Math.random() * 16)];
      }
      return color;
    },
  },

  components: {
    ResizableTextarea,
    MurrChatMessage,
    Observer,
  },
};
</script>
