<template>
  <li class="message-item">
    <img
      class="message-item__user-avatar"
      :src="message.murren_avatar"
      alt="user avatar"
    />
    <p
      class="message-item__user-name"
      :style="nameColor"
      v-text="message.murren_name"
    ></p>
    <p class="message-item__content" v-html="message.message"></p>
  </li>
</template>

<script>
import "./scss/style.scss";

export default {
  name: "murr-chat-message",
  props: {
    message: {
      type: Object,
      required: true,
    },
  },
  computed: {
    nameColor() {
      return `color: ${
        this.$store.getters.murrensOnline.find(
          (murren) => murren.name === this.message.murren_name
        )?.color
      }`;
    },
  },
};
</script>
