@import "../../../assets/scss/variables.scss";

.chat {
  height: min-content;
  display: grid !important;
  grid-template-rows: 1fr auto;
  grid-template-columns: 100%;
  row-gap: 5px;
  &-content,
  &-new_message {
    border: 1px solid $accent-color-main;
    border-radius: 3px;
  }
  &-content {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: min-content 420px;
  }
  &-online {
    background: $dark;
    font-size: 1.2em;
    line-height: 1.3em;
    text-align: center;
    & > span {
      color: $success;
    }
  }
  &-received {
    padding: 0.3em;
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    display: grid;
    grid-template-rows: 1fr;
    grid-gap: 8px;
    &:before,
    &:after {
      content: "";
      height: 1px;
    }
    & .message-item {
      width: 100%;
      display: grid;
      grid-template-columns: min-content 1fr;
      grid-template-rows: min-content min-content;
      column-gap: 4px;
      &__user-avatar {
        grid-row: span 2;
        border-radius: 3px;
        height: 40px;
        width: 40px;
      }
      &__user-name {
        margin: 0;
        font-size: 12px;
        font-weight: bold;
        line-height: 16px;
        letter-spacing: 0.05em;
        color: $accent-color-main;
      }
      &__content {
        width: 100%;
        margin: 0;
        font-size: 11px;
        line-height: 15px;
        font-family: "OpenSans", sans-serif;
        display: grid;
        grid-template-columns: minmax(min-content, 1fr);
        & p {
          width: 100%;
          word-break: break-all;
        }
      }
    }
  }
  &-new_message {
    display: grid;
    grid-template-columns: 1fr 1.5em;
    padding: 0.2em 0.3em;
    background-color: $dark;
    &__textarea {
      font-size: 12px;
      transition: 0.3s;
      resize: none;
      max-height: 90px;
      width: 100%;
      background: transparent;
      border: 0;
      color: #fff;
      line-height: 16px;
      scrollbar-width: none; // firefox support
      &::-webkit-scrollbar {
        width: 0; // webkit support
      }
      &:focus::placeholder {
        color: transparent;
      }
      &::placeholder {
        color: $white-light;
      }
    }
    &__button {
      background: transparent !important;
      color: $accent-color-main !important;
      padding: 0 !important;
      border: 0 !important;
      &:hover,
      &:active,
      &:focus {
        background: transparent !important;
      }
      &:hover {
        color: #409eff !important;
      }
      &:active {
        color: #fff !important;
      }
      &:focus {
        color: $accent-color-main;
      }
    }
  }
}
