<template>
  <div class="home-main-container">
    <loader v-if="isLoading" />

    <div v-if="!isLoading" class="m-profile">
      <h2 class="m-profile__greetings">
        Это личная страничка Муррена
      </h2>

      <div class="m-profile__cropper" v-if="isShowModalAvatarUpload">
        <div class="m-profile__cropper-container">
          <h3 class="m-profile__cropper-title">
            Загрузка нового аватара
          </h3>

          <div
            class="m-profile__cropper-loader"
            v-if="isUploadingAvatarToResize"
          >
            <loader />
          </div>

          <vue-cropper
            v-if="!isUploadingAvatarToResize"
            ref="cropper"
            :view-mode="1"
            :src="avatarBlobUrl"
            :movable="false"
            :rotatable="false"
            :scalable="false"
            :zoomable="false"
            :background="false"
            @crop="handlerCrop"
            :minCropBoxWidth="150"
            :minCropBoxHeight="150"
            :aspectRatio="1 / 1"
            :key="avatarBlobUrl"
            class="m-profile__cropper-crop"
          />

          <div class="m-profile__cropper-actions">
            <el-button
              type="primary"
              size="small"
              @click="onUploadAvatar"
              :loading="isUploading"
            >
              Загрузить
            </el-button>

            <el-button
              type="danger"
              size="small"
              @click="onCloseModalAvatarUpload"
            >
              Отменить
            </el-button>
          </div>
        </div>
      </div>

      <div class="m-profile__avatar">
        <img
          :src="murrenAvatar"
          :alt="murren.username"
          class="m-profile__avatar-img"
        />

        <div class="m-profile__avatar-overlay">
          <el-button
            size="small"
            type="text"
            class="m-profile__avatar-upload"
            @click="$refs.inputSelectAvatarFile.click()"
          >
            Изменить аватар
          </el-button>

          <input
            class="m-profile__avatar-file"
            ref="inputSelectAvatarFile"
            type="file"
            :accept="acceptMimeTypes"
            @change="onOpenModalAvatarUpload($event)"
          />
        </div>
      </div>

      <h1 class="m-profile__username">{{ murren.username }}</h1>

      <div class="m-profile__information">
        <div class="m-profile__nickname">@{{ murren.username }}</div>
      </div>

      <router-link
        class="el-button murr-button__primary m-profile__my-likes"
        to="/murren/my_likes"
      >
        Мои Лайки
      </router-link>

      <form class="m-profile" @submit.prevent="changeMurrenName" v-if="!hidden">
        <div
          :class="{ 'm-form__group--invalid': validUserName }"
          class="m-form__group"
        >
          <label class="m-form__label">
            <input
              type="text"
              placeholder="Имя в Мурренган"
              class="m-form__control auth-input"
              v-model.trim="newMurrenUsername"
              :maxlength="$v.newMurrenUsername.$params.maxLength.max"
            />
          </label>
          <div
            v-if="validUserNameRequired"
            class="m-form__help m-form__help--center"
          >
            Поле не может быть пустым
          </div>
          <div v-if="likePastName" class="m-form__help m-form__help--center">
            Имя похоже на прошлое
          </div>
          <div
            v-if="validUserNameMaxLength"
            class="m-form__help m-form__help--center"
          >
            Имя максимум
            {{ $v.newMurrenUsername.$params.maxLength.max }} символов
          </div>
          <div v-if="uniqueName" class="m-form__help m-form__help--center">
            Это имя уже используется
          </div>
          <div
            v-if="validMurrenNameAlphaValidator"
            class="m-form__help m-form__help--center"
          >
            Имя на латинице и вместо пробелов _
          </div>
        </div>
        <el-button native-type="submit" class="el-button murr-button__primary">
          Изменить
        </el-button>
      </form>

      <el-button
        class="m-profile__signout murr-button__primary"
        @click="hidden = !hidden"
      >
        Изменить имя
      </el-button>

      <el-button
        class="m-profile__signout murr-button__danger"
        @click="onSignout"
      >
        Выйти
      </el-button>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";

import VueCropper from "vue-cropperjs";
import "cropperjs/dist/cropper.css";

import {
  MURREN_FETCH_ME_PROFILE,
  MURREN_AVATAR_RESIZE,
  MURREN_AVATAR_UPDATE,
  MURREN_AVATAR_CANCEL_UPLOAD,
  MURREN_UPDATE_PROFILE,
} from "../store/type.js";
import "../scss/profile.scss";
import { helpers, maxLength, required } from "vuelidate/lib/validators";

const murrenNameAlphaValidator = helpers.regex(
  "murrenNameAlphaValidator",
  /^[\d\w]*$/
);

export default {
  name: "MurrenProfile",

  components: {
    VueCropper,
  },

  data: () => ({
    isLoading: true,
    avatarBlob: null,
    avatarBlobUrl: null,
    isShowModalAvatarUpload: false,
    isUploadingAvatarToResize: false,
    isUploading: false,
    acceptMimeTypes: "image/jpeg, image/png, image/webp",
    newMurrenUsername: "",
    hidden: true,
    uniqueName: false,
    likePastName: false,
    crop: {
      width: 0,
      height: 0,
      x: 0,
      y: 0,
    },
  }),

  computed: {
    murren() {
      return this.$store.state.murren.profileData;
    },

    murrenAvatar() {
      if (this.murren.avatar.includes("default_murren_avatar.png")) {
        return this.murren.avatar;
      }
      return this.murren.avatar + "?_time=" + Date.now();
    },
    validUserNameRequired() {
      return (
        this.$v.newMurrenUsername.$dirty && !this.$v.newMurrenUsername.required
      );
    },
    validUserNameMaxLength() {
      return (
        this.$v.newMurrenUsername.$dirty && !this.$v.newMurrenUsername.maxLength
      );
    },
    validMurrenNameAlphaValidator() {
      return (
        this.$v.newMurrenUsername.$dirty &&
        !this.$v.newMurrenUsername.murrenNameAlphaValidator
      );
    },
    validUserName() {
      return (
        this.validUserNameRequired ||
        this.validUserNameMaxLength ||
        this.uniqueName ||
        this.validMurrenNameAlphaValidator ||
        this.likePastName
      );
    },
  },

  validations: {
    newMurrenUsername: {
      required,
      maxLength: maxLength(24),
      murrenNameAlphaValidator,
    },
  },

  watch: {
    newMurrenUsername() {
      this.uniqueName = false;
      this.likePastName = false;
    },
  },

  methods: {
    ...mapActions({
      notification: "popUpMessage",
    }),

    async fetchMurrenProfile() {
      return await this.$store.dispatch(MURREN_FETCH_ME_PROFILE);
    },

    onSignout() {
      this.notification({
        message: "Ты разлогинился 😱",
        type: "success",
      });

      this.$store.dispatch("logout");
      this.$router.push("/");
    },

    changeMurrenName() {
      if (this.$v.$invalid) {
        this.$v.$touch();
        return;
      }

      if (this.newMurrenUsername === this.murren.username) {
        this.likePastName = true;
        return;
      }

      this.$confirm(
        "После нажатия 'Ok' тебя разлогинит из системы и нужно войти под новым именем",
        "Изменение имени Муррена!",
        {
          confirmButtonText: "Ok",
          confirmButtonClass: "murr-button__danger bigBtn",
          cancelButtonText: "Отмена",
          cancelButtonClass: "murr-button__primary bigBtn",
          customClass: "modal-main",
          type: "warning",
        }
      )
        .then(async () => {
          const result = await this.$store.dispatch(MURREN_UPDATE_PROFILE, {
            username: this.newMurrenUsername,
          });

          if (result.success) {
            this.onSignout();
          } else {
            this.uniqueName = true;
            this.notification({
              message: "Ошибка с вводом имени",
              type: "error",
            });
          }
        })
        .catch(() => {
          this.hidden = true;
          this.newMurrenUsername = "";
        });
    },

    async onOpenModalAvatarUpload({ target }) {
      const avatar = target.files[0];

      if (avatar.type.indexOf("image/") === -1) {
        alert("Please select an image file");
        return;
      }

      this.isShowModalAvatarUpload = true;
      this.isUploadingAvatarToResize = true;

      const { success, data } = await this.$store.dispatch(
        MURREN_AVATAR_RESIZE,
        {
          avatar,
        }
      );

      if (success) {
        this.avatarBlob = data;
        this.avatarBlobUrl = URL.createObjectURL(this.avatarBlob);
      } else {
        this.isShowModalAvatarUpload = false;
      }

      this.isUploadingAvatarToResize = false;
      this.$refs.inputSelectAvatarFile.value = "";
    },

    async onUploadAvatar() {
      this.isUploading = true;

      await this.$store.dispatch(MURREN_AVATAR_UPDATE, {
        avatar: this.avatarBlob,
        crop: this.crop,
      });

      this.isUploading = false;

      this.clearTemporaryDataAvatarUpload();
    },

    onCloseModalAvatarUpload() {
      this.$store
        .dispatch(MURREN_AVATAR_CANCEL_UPLOAD)
        .then(() => this.clearTemporaryDataAvatarUpload());
    },

    handlerCrop({ detail }) {
      this.crop = detail;
    },

    clearTemporaryDataAvatarUpload() {
      this.isShowModalAvatarUpload = false;
      URL.revokeObjectURL(this.avatarBlobUrl);
      this.avatarBlobUrl = null;
      this.avatarBlob = null;
    },
  },

  async created() {
    this.isLoading = true;

    const { success } = await this.fetchMurrenProfile();

    if (success) {
      this.isLoading = false;
      this.newMurrenUsername = this.murren.username;
    } else {
      this.notification({
        message: "Что-то пошло не по плану 😮",
        type: "success",
      });

      this.$store.dispatch("logout");
      this.$router.push("/");
    }
  },
};
</script>
